torch 
torchvision

numpy
scipy
pandas
scikit-learn

manim
matplotlib
pycairo
seaborn
pylatexenc

transformers
accelerate
huggingface-hub
safetensors
tokenizers
timm
datasets


fastapi
uvicorn
httpx

einops
pydantic
xformers
